<!DOCTYPE html>
<html lang="en">
<head>
  <title>API Tracking</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>API Tracking</h2>
  {% comment %} <p>The .table-bordered class adds borders on all sides of the table and the cells:</p>             {% endcomment %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>User</th>
        <th>Requested at</th>
        <th>Response ms</th>
        <th>Path</th>
 
        <th>Remote addr</th>
        <th>Host</th>
        <th>Method</th>
        <th>Data</th>
        <th>Response</th>
        <th>Errors</th>
        <th>Status code</th>
        <th>Query params</th>
      </tr>
    </thead>
    <tbody>
    {% for data in get_tracking %}
      <tr>
        <td>{{data.user}}</td>
        <td>{{data.requested_at}}</td>
        <td>{{data.response_ms}}</td>
        <td>{{data.path}}</td>
  
        <td>{{data.remote_addr}}</td>
        <td>{{data.host}}</td>
        <td>{{data.method}}</td>
        <td>{{data.data}}</td>
        <td>{{data.response}}</td>
        <td>{{data.errors}}</td>
        <td>{{data.status_code}}</td>
        <td>{{data.query_params}}</td>
       
      </tr>
     {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
